@inherits LayoutComponentBase;

<PageTitle>@Constants.System.App.Title</PageTitle>

<header class="tp-header-height">
    <!-- header area start -->
    <div class="@(LayoutService.IsHeaderTransparent ? "tp-header-transparent" : "")">
        <div id="header-sticky" class="tp-header-area tp-header-ptb @LayoutService.HeaderClass">
            <div class="container @(LayoutService.IsPremiumHeaderEnable ? "custom-container-1" : "")">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                        <div class="tp-header-logo">
                            @if (LayoutService.IsHeaderTransparent)
                            {
                                <a onclick="@(() => NavigationManager.NavigateTo("/", true))" role="button"><img src="/img/logo/WIS-BULLETIN-WHITE-nobg.png" alt="" width="220" height="50"></a>
                            }
                            else
                            {
                                <a onclick="@(() => NavigationManager.NavigateTo("/", true))" role="button"><img src="/img/logo/WIS-BULLETIN-nobg.png" alt="" width="180" height="65"></a>
                            }
                        </div>
                    </div>
                    <div class="col-xl-5 d-none d-xl-block">
                        <div class="tp-header-menu">
                            <nav class="tp-main-menu-content">
                                <ul>
                                    <li>
                                        <a onclick="@(() => NavigationManager.NavigateTo("/", true))" role="button">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-6">
                        <div class="tp-header-right d-flex align-items-center justify-content-end">
                            <LoginDisplay />
                            <div class="tp-header-btn d-none d-xl-block">
                                <a class="tp-btn-white" href="listing-ads.html">
                                    <span>
                                        Post Your Ad <i class="fa-sharp fa-regular fa-arrow-right-long"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="tp-header-bar d-xl-none">
                                <button class="tp-menu-bar"><i class="fa-sharp fa-regular fa-bars-staggered"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header area end -->
</header>

<!-- main area start -->
<main>
    @Body
</main>
<!-- main area end -->
@code {
    protected override async Task OnInitializedAsync()
    {
        LoadingService.OnChange += async () => await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnParametersSetAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initializePageScripts");
            await LoadingService.Check(JsRuntime);
        }
    }

    public void Dispose()
    {
        LoadingService.OnChange -= async () => await InvokeAsync(StateHasChanged);
    }
}